// project specific CSS goes here

////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #E31213;
$darkGray: #1E1E1E;


////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.logoHead{
  width: $medium-space;
  height: $medium-space;
  margin-left: 0.4em;
}

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

.navbar-brand{
  display: flex;
  flex-direction: row;
}

.account_icon{
  width: 1.5em;
  height: 1.5em;
}

.logotext{
  display: flex;
  flex-direction: column;
}

.navbar-nav{
  display: flex;
  flex-direction: row;
  float: right;
}

.subtitle{
  font-weight: 200;
  font-size: 0.65em;
  margin-top: -0.3em;
  margin-left: 0.2em;
  text-transform: uppercase;
}

.profile-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .profile-title{
    margin-top: $small-space;
    color: $dark-grey;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
  }

  .personal-information-container {
    width: 100%;
    padding: $small-space;
    margin-top: $small-space;
    background-color: white;
    height: 20em;
    border-radius: $standard-radius;
  }

  .fieldset {
    margin-top: $small-space;
    display: flex;

    & input{
      margin-left: $small-space;
    }
  }
}

