{% extends "base.html" %}

{% block content %}
	<div class="category_container">
		<a href="">
			<div class="category">
				<img src="" alt="" class="category_icon">
				<h2 class="title">Lean body mass</h2>
				<div class="button_container">
					<a href="" class="new">+</a>
					<a href="" class="stats"></a>
				</div>
			</div>
		</a>
		<a href="">
			<div class="category">
				<img src="" alt="" class="category_icon">
				<h2 class="title">Strength</h2>
				<div class="button_container">
					<a href="" class="new">+</a>
					<a href="" class="stats"></a>
				</div>
			</div>
		</a>
		<a href="">
			<div class="category">
				<img src="" alt="" class="category_icon">
				<h2 class="title">Measurements</h2>
				<div class="button_container">
					<a href="" class="new">+</a>
					<a href="" class="stats"></a>
				</div>
			</div>
		</a>
		<a href="">
			<div class="category">
				<img src="" alt="" class="category_icon">
				<h2 class="title">Weight</h2>
				<div class="button_container">
					<a href="" class="new">+</a>
					<a href="" class="stats"></a>
				</div>
			</div>
		</a>
	</div>
{% endblock content %}